<%include components/header%>

<%  const visitor = ! (currentUser._id.toString() === user._id.toString());

    const genderIcon =  user.gender === 'female'
                        ? 'fa-female'
                        : 'fa-male';

    const prefsIcon =   user.sexPreferences === 'female'
                        ? 'fa-venus'
                        : (user.sexPreferences === 'male'
                        ? 'fa-mars'
                        : 'fa-venus-mars'); 

    const isLiked =  visitor && user.likes.find(o => o.likerId.toString() === currentUser._id.toString());

    const isMatch = isLiked && currentUser.likes.find(o => o.likerId.toString() === user._id.toString());

    const isBlocked = currentUser.blockedUsers.find(o => o.blockedId.toString() === user._id.toString()) ? true: false;

%>

<% if (visitor) {%>
    <script>
        
        socket.emit('add new notification', {
            to: "<%=user._id%>",
            type: "visit",
            id: "<%=notId%>"
        })

    </script>
<% } %>

<div class="row profile pt-4 pb-2">

    <div class="col-sm-12 col-md-7 col-lg-7 mb-4">
        <%include components/carousel%>
    </div>

    <div class="col-sm-12 col-md-5 col-lg-5">
        <div class="row px-3 mb-3 justify-content-between">
            <div class="d-flex flex-wrap">
            <% if (visitor) {%>
                <h2 class="dropdown-toggle text-monospace" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%=user.username%></h2>
                <div class="dropdown-menu report" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/report/block/<%=user._id%>">Block user</a>
                    <a class="dropdown-item" href="/report/fake/<%=user._id%>">Report as fake</a>
                </div>

            <%} else {%>
                <h2 class="text-monospace"><%=user.username%></h2>
            <%}%>
                <span class="ml-2 show-status text-muted"></span>
            </div>

        </div>
        <div class="row mb-5">

                <div id="like-container" class="col d-flex  align-items-center">
                    <i class="fas fa-heart"></i>

                    <% if (visitor) {%>
                        <span class="ml-1"><%=user.likes.length%></span> 
                    <%} else {%>
                        <a href="/history/likes"><span class="ml-1"><%=user.likes.length%></span></a>
                    <%}%>
                </div>
        
                <% if (! visitor) {%>
                    <div class="col d-flex align-items-center">
                        <i class="fas fa-eye"></i>
                        <span class="ml-1"><a href="/history/visits%>"><%=user.visits.length%></a></span>
                    </div>
                <% } %>

                <div class="col d-flex justify-content-center align-items-center">
                    <i class="fas fa-star"></i>
                    <span class="ml-1"><%=user.visits.length + user.likes.length * 2%></span>
                </div>
        </div>

        <div class="row">
            <div class="col col-lg-7">
                <p><%=user.firstname%>  <%=user.lastname%></p>
            </div>
            <% if (user.age > 0) { %>
                <div class="col col-lg-5">
                    <p><%=user.age%> years old</p>
                </div>
            <%}%>
        </div>

        <div class="row">
            <div class="col col-lg-7">
                <i class="fas fa-street-view"></i>
                <p class="d-inline"><%=user.locationname%></p>
            </div>
            <div class="col col-lg-5">
                <i class="fas <%=genderIcon%>"></i>
                <i class="fas fa-long-arrow-alt-right"></i>
                <i class="fas <%=prefsIcon%>"></i>
            </div>
        </div>

        <hr>

        <div class="row px-3 pt-3">
            <p><%=user.bio%></p>
        </div>

        <hr>

        <div class="row px-3 pt-1">
            <%user.interests.map((interest) => {%>
                <span class="mr-1">#<%=interest.text%></span>
            <%});%>
        </div>

        <% if (visitor  && ! isBlocked) {%>
            <div class="row mt-3 px-3">
                <button id="dislike" class="btn btn-danger w-100 text-uppercase" onClick='removeLike("<%=user._id%>")' <% if (! isLiked) {%>style="display: none;"<%}%>>Dislike</button>
                <button id="like" class="btn btn-success w-100 text-uppercase" onClick='addLike("<%=user._id%>")' <% if (isLiked) {%>style="display: none;"<%}%>>Like</button>
            </div>
        <%}%>

        <div id="chat-link" class="row mt-1 px-3" <% if (!isMatch) {%> style="display: none;"<%}%>>
            <a class="btn btn-success w-100 text-uppercase" href="/chat/private/<%=chatId%>">Chat</a>
        </div>

        <% if (visitor  && isBlocked) {%>
            <div class="row mt-1 px-3">
                <a class="btn btn-danger w-100 text-uppercase mt-1" href="/report/unblock/<%=user._id%>">Unblock</a>
            </div>
         <%}%>

    </div>

</div>

<% include helpers/status %>

<%include components/footer%>